@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/resources/cart.css" rel="stylesheet" />
@{

    String a = "/contents/images/";
    int count = (ViewBag.dsSach) .Count;
}
<div class="container-md mt-4">
    <div class="row mb-4">
        <h5>GIỎ HÀNG <span class="fs-6" id="item-number-text1">(@count sản phẩm)</span></h5>
    </div>
    <div class="row" id="content-row">
        <div class="col me-3">
            <div class="row rounded-3 bg-white pt-2 pb-2 ps-4">
                <div class="form-check">

                    <label class="form-check-label" for="select-all">

                        <span id="item-number-text2">sản phẩm</span>
                    </label>
                </div>
            </div>
              @for (int i = 0; i < 4 && i < (ViewBag.dsSach).Count; i++)
                {
            <div class="row row rounded-3 bg-white pt-2 pb-2 ps-4 mt-3 book-item">
                <div class="form-check d-flex align-items-center">

                    <label class="form-check-label" for="select-this">
                            <img src="@a@ViewBag.dsSach[@i].Hinh"
                             width="120" height="120" alt="dead">
                    </label>
                    <div class="col col-5 ms-3">
                        <a href="#" id="item-name" class="text-truncate">
                                @ViewBag.dsSach[@i].TenSach
                        </a>
                    </div>
                    <div class="col d-flex align-items-center justify-content-evenly">
                            <h5 class="mb-0 item-price">@ViewBag.dsSach[@i].GiaBia đ</h5>
                        <a href="#"><span><i class="bi bi-trash text-black" id="trash-can"></i></span></a>
                    </div>
                </div>
            </div>
        
        }
        </div>
        <div class="col col-4 bg-white rounded-3 bg-white pt-2 pb-2 ps-4 pe-4" id="total-cart">
            <div class="row border-bottom mb-2">
                <div class="mb-2 d-flex justify-content-between">
                    <span class="col">Thành tiền</span>
                    <span class="col text-end ">79.000 đ</span>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 d-flex justify-content-between">
                    <span class="col col-7 fs-5 fw-medium">Tổng số tiền (gồm VAT)</span>
                    <span class="col text-end fs-4 fw-bold item-price-final">79.000 đ</span>
                </div>
            </div>
            <div class="row mt-5">
                <a href="/pages/7-payment/payment.html" class="btn fs-5 fw-bold text-white" id="btn-checkout">THANH TOÁN</a>
            </div>
        </div>
    </div>
</div>


