.form-nav-link.active{
    color: #236EFF!important;
}

.form-nav-link{
    color: #687176!important;
    font-weight: bold;
}

.form-nav-link:hover{
    color: #236EFF!important;
}

#logo {
    font-family: Comic Sans MS;
}